.multipleSelect {
    display: inline-block;
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

.multipleSelect summary {
    width: 350px;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: #efeeee;
    color: #282828;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.multipleSelectDropdown {
    position: absolute;
    margin-top: 2px;
    min-width: 100%;
    overflow-y: auto;
    max-height: 80px;
    background-color: #efeeee;
    border-radius: 5px;
}

.multipleSelect label {
    margin: 5px;
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: #efeeee;
    color: #282828;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.multipleSelect label > input + .content {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}

.multipleSelect label + label {
  border-top: 1px solid #bbb;
}

.multipleSelect label > input:checked + .content {
  background-color: #bbb;
}