@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  line-height: 1.5;
  color: #282828;
}

.content {
  width: calc(100vw - 85px);
}

body.sidebar-open .content {
  width: calc(100vw - 255px);
}

ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, li {
   list-style-type: none;
}

a { 
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
